<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train Ticket Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Train Ticket Confirmation Predictor</h1>
        <form action="/predict" method="POST" autocomplete="off">
            <div class="form-group">
                <label>Train Number or Name</label>
                <div class="input-container">
                    <input type="text" id="train_no" name="train_no" required>
                </div>
                <div class="resultBox" id="result-Box0"></div>
            </div>

            <div class="form-group">
                <label>Class</label>
                <select name="class" required>
                    <option>1A</option>
                    <option>2A</option>
                    <option>3A</option>
                    <option>GN</option>
                </select>
            </div>

            <div class="form-group">
                <label>Quota</label>
                <select name="quota" required>
                    <option>GN</option>
                </select>
            </div>

            <div class="form-group">
                <label>Gender</label>
                <select name="gender" required>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label>Source Station</label>
                <div class="input-container">
                    <input type="text" id="source" name="source" required>
                    <div id="sourceSuggestions" class="suggestions"></div>
                </div>
                <div class="resultBox" id="result-Box1"></div>
            </div>

            <div class="form-group">
                <label>Destination Station</label>
                <div class="input-container">
                    <input type="text" id="destination" name="destination" required>
                    <div id="destinationSuggestions" class="suggestions"></div>
                </div>
                <div class="resultBox" id="result-Box2"></div>
            </div>

            <div class="form-group">
                <label>Waiting List</label>
                <input type="number" name="wl" required min="0" value="0">
            </div>


            <div class="form-group">
                <label>Travel Date</label>
                <input type="date" name="travel_date" required>
            </div>

            <button type="submit">Predict</button>
        </form>
    </div>

    <script src="/static/train.js"></script>
    <script src="/static/stations.js"></script>
    <!-- <script src="/static/script.js"></script> -->
</body>
</html>
